<div class="main" style="font-size: 24px;">
  <!-- <h1 class="my-0, py-0">---------------------------------------------------------</h1> -->
  <h1 class="header">Welcome to the Cookbook!</h1>
  <!-- <h1 class="my-0, py-0">---------------------------------------------------------</h1> -->
  <p class="my-0, py-0" style="font-size: 16px;"><%= Time.now %></p>

  <a href="/new">Add a recipe!</a>

  <p> Below are all the recipes you have in your list </p>

  <ul>
    <% @recipes.each_with_index do |recipe, index| %>
    <li><%= recipe.name %> <span>(<%= recipe.prep_time %>) (<%= recipe.difficulty %>)</span>: <%= recipe.description %> - <a href="/recipes/<%= index %>">Destroy</a></li>
    <% end %>
  </ul>
<end>
